body, html {
	background: url(../image/background.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	height: 100%;
	width: 100%;
	margin: 0px;
	padding: 0px;
	font-family: 'Dosis', sans-serif;
	color: white;
}

header{
	height: 50%;
}

footer{
	clear: both;
}

#main{
	background: rgba(20, 20, 20, 0.6);
	overflow: hidden;
}

#centerMain{
	width: 100%;
	padding: 0px;
	margin: 0px;
	float: left;
	vertical-align: middle;
	text-align: center;
	font-size: 4vw;
	color: white;
	padding: 0px;
	margin: 0px;
}

#main p{
	vertical-align: middle;
	text-align: center;
	padding: 0px;
	margin: 0px;	
}

#linkedin{
	margin: 30px;
	width: 60px;
	height: 60px;
}

#github{
	margin: 30px;
	width: 60px;
	height: 60px;
}

#linkedin, #github{
	-webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
}

#linkedin:hover, #github:hover{
	-webkit-transform: all 1s ease;
    -moz-transform: all 1s ease;
    -o-transform: all 1s ease;
    -ms-transform: all 1s ease;
	transform: scale(1.5);
}

ul{
	list-style-image: url(../image/listIndicator.png);
	text-align: left;
}

li{
	margin-top: 5px;
}

a{
	text-decoration: none;
}
