@font-face { 
	font-family: CaviarDreams;
	src: url(../fonts/Caviar_Dreams.ttf);
}
@font-face { 
	font-family: CaviarDreamsBold;
	src: url(../fonts/Caviar_Dreams_Bold.ttf);
}
@font-face { 
	font-family: CaviarDreamsBoldItalic;
	src: url(../fonts/Caviar_Dreams_Bold_Italic.ttf);
}
@font-face { 
	font-family: CaviarDreamsItalic;
	src: url(../fonts/Caviar_Dreams_Italic.ttf);
}
@font-face { 
	font-family: FontleroyBrown;
	src: url(../fonts/Fontleroy_Brown.ttf);
}

body, html {
	background: url(../images/background.jpg);
	background-repeat: no-repeat;
	background-size: 100% 100%;
	height: 100%;
	width: 100%;
	margin: 0px;
	padding: 0px;
}
a{
	text-decoration: none;
}
input{
    border: 0;
    outline: 0;
    background: transparent;
    border: 1px solid rgb(180, 180, 180);
    border-radius: 5px;
    width: 100px;
    padding: 2px;
    font-family: 'CaviarDreams';
    color: rgb(180, 180, 180);
}
header{
	display: block;
	height: 25%;
	margin: 0px;
	padding: 0px;

	/*background-color: rgba(255, 0, 0, 0.1);*/
}
	#header_left{
		float: left;
		height: inherit;
		width: 20%;
		/*background-color: rgba(100, 100, 0, 0.1);*/
	}
		#logo{
			margin: 0px;
			padding: 20px;
			width: 130px;
			height: 130px;
		}
	#header_center{
		float: left;
		height: inherit;
		margin-left: 20px;
		width: 75%;
		text-align: center;
		/*background-color: rgba(100, 0, 100, 0.1);*/
	}
		#header_center_title{
			text-align: center;
			clear: both;
		}
		#header_center_img_title{
			float: left;
		}
		#header_center_p_title{
			font-family: 'Lobster';
			margin-left: 20px;
			margin-top: 20px;
			font-size: 30px;
			color: rgb(128, 153, 122);
		}
		#header_center_p_subtitle{
			clear: both;
			font-family: 'CaviarDreams';
			font-size: 22px;
			color: rgb(205 ,153 ,53);
			margin-left: 20px;
			margin-top: -30px;
		}
	#header_right{
		display: none;
		float: left;
		height: inherit;
		width: 20%;
		text-align: center;
		/*background-color: rgba(0, 100, 100, 0.1);*/
	}
		.header_right_p_gray{
			font-family: 'CaviarDreams';
			color: rgb(180, 180, 180);
			font-size: 17px;
		}
		.header_right_p_big_orange{
			font-family: 'CaviarDreams';
			color: rgb(205 ,153 ,53);
			font-size: 17px;
		}
		.header_right_p_small_orange{
			font-family: 'CaviarDreams';
			color: rgb(205 ,153 ,53);
			font-size: 15px;
			margin-top: -15px;
		}

#main {
	height: 55%;
	display: -webkit-flex;
	display:         flex;
	flex-flow: row;
	margin: 0px;
	padding: 0px;
	clear: both;
	
	/*background-color: rgba(0, 255, 0, 0.1);*/
}
	#main_left{
		float: left;
		height: inherit;
		width: 20%;
		/*background-color: rgba(255, 255, 0, 0.1);*/
	}
		#signature{
			display: none;
			text-align: center;
			width: 100px;
			height: 100px;
			clear: both;
		}
		.p_us{
			display: none;
			padding: 0;
			text-align: center;
			font-family: 'CaviarDreams';
			color: #D48830;
			clear: both;
		}
		#main_left_list{
			position: absolute;
			bottom: 15%;
			padding: 0;
			list-style: none;
			font-family: 'CaviarDreams';
			color: rgb(102, 51, 3);
			margin-top: 0%;
			margin-bottom: 0%;
			width: 100%;
			text-align: center;
		}
		#main_left_list li{
			float: left;
			margin-left: 20px;
		}
		#main_left_list li:nth-child(odd){
			color: #8A7254;
		}
		#main_left_list li:nth-child(even){
			color: #D48830;
		}
	#main_center{
		float: left;
		height: inherit;
		width: 65%;
		/*background-color: rgba(0, 255, 255, 0.1);*/
	}
		#clock1{
			position: absolute;
			left: 30%;
			width: 220px;
			height: 220px;
		}
		#clock1BL{
			display: none;
		}
		#clock1BR{
			display: none;
		}
		#clock1TL{
			display: none;
		}
		#clock1TR{
			display: none;
		}
		#clock2{
			position: absolute;
			left: 12%;
			top: 48%;
			width: 220px;
			height: 110px;
		}
		#clock2TL{
			display: none;
		}
		#clock2TR{
			display: none;
		}
		#clock2BL{
			display: none;
		}
		#clock2BR{
			display: none;
		}
		#clock3{
			position: absolute;
			left: 10%;
			top: 30%;
			width: 220px;
			height: 110px;
		}
		#clock4{
			position: absolute;
			left: 5%;
			top: 35%;
			width: 120px;
			height: 80px;
		}
	#main_right{
		float: left;
		height: inherit;
		width: 15%;
		/*background-color: rgba(255, 0, 255, 0.1);*/
		text-align: center;
	}
		#main_right_left_polaroid{
			position: absolute;
			text-align: right;
			top: 320px;
			right: 40px;
			width: 200px;
			height: 150px;
			transform: rotate(10deg);
		}
		#main_right_right_polaroid{
			position: absolute;
			text-align: right;
			top: 180px;
			right: 0;
			width: 240px;
			height: 160px;
		}
		#main_right_counters{
			position: absolute;
			bottom: 40px;
			right: 1%;
			text-align: right;
		}
		.main_right_p_orange{
			float: left;
			margin-left: 20px;
			font-family: 'CaviarDreams';
			color: rgb(220, 173, 125);
		}

footer{
	display: block;
	height: 20%;
	margin: 0px;
	padding: 0px;

	/*background-color: rgba(0, 0, 255, 0.1);*/
}
	#footer_left{
		float: left;
		width: 50%;
		height: 100%;
		overflow: hidden;
		/*background-color: rgba(255, 255, 0, 0.1);*/
	}
	#footer_right{
		float: left;
		width: 50%;
		height: 100%;
		/*background-color: rgba(255, 0, 255, 0.1);*/
		text-align: right;
		margin: 0px;
		padding: 0px;
	}
		#footer_right_images{
			text-align: right;
			position: absolute;
			bottom: 1%;
			right: 1%;
		}
		#footer_right img{
			margin: -10px;
			padding: 0px;
		}
		.img_footer_rrss{
			-webkit-transition: all 1s ease;
     		-moz-transition: all 1s ease;
       		-o-transition: all 1s ease;
      		-ms-transition: all 1s ease;
          	transition: all 1s ease;
          	transform: scale(0.6);
		}
		.img_facebook:hover{
			transform: scale(1);
		}
		.img_instagram:hover{
			transform: scale(1);
		}
		.img_pinterest:hover{
			transform: scale(1);
		}
		.img_rss:hover{
			transform: scale(1);
		}
		.img_linkedin:hover{
			transform: scale(1);
		}
		.img_gplus:hover{
			transform: scale(1);
		}
		.img_youtube:hover{
			transform: scale(1);
		}
		.img_twitter:hover{
			transform: scale(1);
		}
		.img_flickr:hover{
			transform: scale(1);
		}
		.img_lengua_signos{
			width: 40px;
			height: 40px;
			-webkit-transition: all 0.5s ease;
     		-moz-transition: all 0.5s ease;
       		-o-transition: all 0.5s ease;
      		-ms-transition: all 0.5s ease;
          	transition: all 0.5s ease;
		}
		.img_lengua_signos:hover {
			border-radius: 50%;
			-webkit-transform: rotate(360deg);
			-moz-transform: rotate(360deg);
		    -o-transform: rotate(360deg);
		    -ms-transform: rotate(360deg);
		    transform: rotate(360deg);
		}
	#footer_list{
		list-style: none;
		font-family: 'CaviarDreams';
		color: rgb(102, 51, 3);
		margin-top: 0%;
		margin-bottom: 0%;
		width: 50%;
		position: absolute;
		bottom: 1%;
		padding: 0px;
	}
	#footer_list li{
		float: left;
		margin: 0px;
		padding: 0px;
	}
	#footer_list a{
		color: rgb(102, 51, 3);
	}
